/*
	Main CSS styles for main uBus web app.

	for CS 123 Group Project.
	Group D : Ian De La Cruz, Pearl Santos, Chi Señires, EJ Villadarez
*/

/*	------------	*/
/*			MAIN  		*/
/*	------------	*/
*, *:after, *:before {
	margin: 0;
	padding: 0;
  box-sizing: border-box; }

html, body {
  font-size: 10px;
	background-color: #124E78;
	font-family: monospace;
	overflow: hidden;
}

a {
	text-decoration: none;
	color: #333;
	font-weight: bold;
}

/*	------------	*/
/*	INDEX.html		*/
/*	------------	*/
.container {
	margin: 4.5% auto;
	width: 50%;
	background-color: #A7BCAF;
	border-radius: 5%;
}

header {
	width: 100%;
	padding: 2.5em 0;
	text-align: center;
}

.logo {
	display: block;
	margin: 0 auto;
	width: 20em;
}

.content {
	height: 15em;
}

.button a {
	display: block;
	width: 12em;
	height: 12em;
	text-align: center;
}

.button > a img {
	width: 100%;
	background-color: #ccc;
	padding: 3%;
	border-radius: 10%;
}

#admin {
	float: left;
}

#loading {
	float: right;
	margin-right: 30%;
}

/*	--------------	*/
/*	SCHEDULE.html		*/
/*	--------------	*/
nav {
	background-color: #999;
	height: 115px;
}


.brand img {
	float: left;
	width: 100px;
	margin: 10px;
}

.align-right {
	float: right;
	margin: 20px 10px;
}

.nav a {
	display: inline-block;
	padding: 20px 10px;
	margin: auto 0;
}

.wrapper {
	width: 60%;
	margin: 0 auto;
}

.content {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.title {
	margin: 2.5% 5%;
	color: #f0f0c9;
}

	.title > img {
		width: 75px;
		background-color: #ccc;
		padding: 0.75%;
		border-radius: 10%;
		float: left;
		margin-left: -9em;
	}

/* Temporary */
.placeholder {
	width: 50px;
	height: 50px;
	background-color: aqua;
}

.clearfix {
	display: block;
	clear: both;
}
