/*
	Main CSS styles for main uBus web app.

	for CS 123 Group Project.
	Group D : Ian De La Cruz, Pearl Santos, Chi Señires, EJ Villadarez
*/

* {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #124E78;
	font-family: monospace;
	overflow-x: hidden;
}

.container, header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 0 auto;
	width: 50%;
}

a {
	text-decoration: none;
}

header {
	width: 100vw;
	background-color: azure;
}

.logo {
	width: 20em;
	padding: 2em;
	margin: 0 auto;
}

.content {
	padding: 35px 25px;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.button a {
	background-color: #ccc;
	padding: 10px;
	margin: 0 50px;
	border-radius: 10%;
	text-align: center;
	font-size: 1.25rem;
	color: #000;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.button > a img {
	width: 10em;
	height: 10em;
	padding: 0 10px;
}

/* SCHEDULING */

nav {
	background-color: dimgray;
	height: 120px;
	display: flex;
	flex-direction: column;
}


.brand img {
	width: 100px;
	margin: 10px;
}

.align-right {
	align-self: flex-end;
}

#add-schedule {
	font-size: 5em;
	padding: 10px;
	margin-right: 5%;
	width: 100px;
	height: 100px;
	
	background-color: green;
}
